<h1>Welcome <%= mod.username %> (Role: <%= mod.role %>)</h1>

<% if (mod.role === 'superuser') { %>
    <div id="moderators-container">
        <h2>Moderators List</h2>
        <ul id="moderators-list"></ul>
    </div>
<% } else { %>
    <p>You do not have permission to view this Moderator List.</p>
<% } %>


<script src="./js/admin_dashboard.js"></script>