.left-section, .top-right-section, .bottom-right-section {
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.left-section {
    display: flex;
    height: 100%;
}
.top-right-section, .bottom-right-section {
    height: 50%; /* Each section takes half of the right column */
}
.row-equal {
    height: 100vh; /* Full viewport height */
}

.page-container {
    padding: 20px;
}


.main-content {
    flex-grow: 1; /* Takes remaining space */
    background-color: #dd000088; /* Light background */
    color: #000000; /* Black text */
    padding: 20px;
    border-radius: 0 8px 8px 0;
    height: 100%;
    width: 100%
}




.donor-list {
    margin-bottom: 20px;
    background-color: #2f3136; /* Dark background */
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 8px 0 0 8px;
    height: 100%; /* Full height */
}

.donor {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.donor-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder color */
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.donor-name {
    margin: 0;
}

